/* body {
    background-color: brown;
} */

.user_feedbacks {
    display: flex;
    width: 100%;
}

.feedback1 {
    flex: 0 0 25%;
    /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 30% */
    /* background-color: lightblue; */
}

.feedback2 {
    flex: 0 0 75%;
    /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 70% */
    /* background-color: lightgreen; */
}


/* Additional Styling  */

.individual_feedback {
    align-items: center;
    text-align: center;
    padding-left: 20px;
}

.feedback-container h1 a:hover {
    text-decoration: underline;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #444;
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.btn-submit:hover {
    background-color: #218838;
}

.feedback-details p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}