{% extends 'index.html' %} {% block content %}
<h1>Admins Page</h1>
form to add 5 optional questions
<!-- when was the service offered to you/ when did you acquire the product -->
<h2><a href="{% url 'user_feedback' %}">Check on the form</a></h2>



<!-- form to add 5 optional questions -->
<!-- when was the service offered to you/ when did you acquire the product -->
<!-- <p>A field to collect all the users input in the form</p> -->


<!-- if qr code is already generated then -->
<p>There is currently a generated code</p>
<p>Do you want to generate a new qr code?</p>

<!-- to help the organization store the already generated code then you can use this option to get it  -->
<h2>Get the existing qr code</h2>

<div class="admins_section2">

    <h2>Add Admins who can access the new messages sent</h2>
    <h2>Give an Admin full access to manage the page</h2>
</div>

<div class="organization_info">
    {% for org in organize %}
    <h2>{{org.org_name}}</h2>

    {% for admin in org.org_admins.all %}
    <p>{{admin.username}}</p>
    {% endfor %} {% endfor %}
</div>
{% endblock %}