{% extends 'index.html' %} {% block content %}

<div class="navbar_class">
    <h1>Top Navigation Bar</h1>
    <h1>{{organization.org_name}} Admins Page</h1>
    <h2><a href="{% url 'org_profile' organization.id %}">Profile-{{organization.org_name}}</a></h2>

</div>
<hr>
<div class="adminisstrator_functionalitites">
    <!-- only accessible by the super administrator which is specified -->
    {% if request.user.username == 'admin' %}
    <h1>Administrator Functionalities</h1>
    <h2><a href="{% url 'add_admin' organization.id %}">Add New Administrator</a></h2>

    <h2><a href="{% url 'delete_admin' organization.id %}">Delete Administrator</a></h2>
    {% endif %}
    <!-- when was the service offered to you/ when did you acquire the product -->
    <h2><a href="{% url 'user_feedback' %}">Check on the form</a></h2>
</div>

<hr>



<!-- form to add 5 optional questions -->
<!-- when was the service offered to you/ when did you acquire the product -->
<!-- <p>A field to collect all the users input in the form</p> -->


<!-- if qr code is already generated then -->
<p>There is currently a generated code</p>
<p>Do you want to generate a new qr code?</p>

<!-- to help the organization store the already generated code then you can use this option to get it  -->
<h2>Get the existing qr code</h2>

<div class="admins_section2">

    <h2>Add Admins who can access the new messages sent</h2>
    <h2>Give an Admin full access to manage the page</h2>
</div>


{% endblock %}