{% extends 'index.html' %} {% block content %} {% if page == 'login_admin' %}

<h1><a href="{% url 'home' %}">Home</a></h1>
<h1>Admins Login Form</h1>
<form action="" method="POST">
    {% csrf_token %}

    <label for="email">Org Email</label>
    <input type="email" name="org_email" placeholder="organizations email...">
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="org_password" id="">

    <br>
    <br>
    <input type="submit">

</form>
{% else %}
<h1>Register Company form</h1>
<div class="register_company">


    <form action="" method="POST">
        {% csrf_token %} {{form.as_p}}
        <input type="submit">
    </form>


</div>
{% endif %} {% if messages %} {% for message in messages %}
<p>{{message}}</p>
{% endfor %} {% endif %} {% endblock %}