{% extends 'index.html' %} {% block content %} {% if page == 'user_profile' %}

<main class="profile-page layout layout--3">
    <!-- <div class="container"> -->

    <!-- Room List Start -->
    <div class="roomList own_profile_page">
        <div>
            <h1><a href="{% url 'home' %}">Back</a></h1>

        </div>
        <div class="profile">
            <div class="profile__avatar">
                <div class="avatar avatar--large active">
                    <img src="{{request.user.profile_pic.url}}" />
                </div>
            </div>
            <div class="profile__info">
                <h3>{{request.user.username}}</h3>
                <p>@{{request.user.username}}</p>
                {% if request.user == user %}
                <a href="{% url 'update_profile' request.user.id %}" class="btn btn--main btn--pill">Edit Profile</a> {% endif %}
            </div>
            <div class="profile__about">
                <h3>About You</h3>
                <p>
                    {{user.about_you}}
                </p>
            </div>
        </div>
        <!-- 
        <div class="roomList__header">
            <div>
                <h2>Study Rooms Hosted by {{request.user.username}}</a>
                </h2>
            </div>
        </div> -->


        <!-- </div> -->

    </div>
</main>
{% elif page == "org_profile" %}
<main class="profile-page layout layout--3">
    <!-- <div class="container"> -->

    <!-- Room List Start -->
    <div class="roomList own_profile_page">
        <div>
            <h1><a href="{% url 'admins_page' org.id %}">Back</a></h1>

        </div>
        <div class="profile">
            <div class="profile__avatar">
                <div class="avatar avatar--large active">
                    <img src="{{org.org_avatar}}" />
                </div>
            </div>
            <div class="profile__info ">

                <h3>{{org.org_name}}</h3>
                <p>@{{org.org_email}}</p>
                <a href="{% url 'update_org_profile' org.id %} " class="btn btn--main btn--pill ">Edit Profile</a>
            </div>
            <div class="profile__about ">
                <h3>About Organization</h3>
                <p>
                    {{org.org_descr}}
                </p>
            </div>
        </div>

        <!-- <div class="roomList__header "> -->
        <div>
            <h2>Organization Information</a>
            </h2>
            {% if org.org_qr_code %}
            <p>Check and Download the Organization's QR Code using the link below</p>
            <h2><a href="{% url 'get_org_code' org.id %}">Check QRCode</a> </h2> {% endif %}

            <hr>
            <h2>Registered {{org.org_name}} Administrators are : </h2>
            {% for admin in org.org_admins.all %}
            <ul>
                <li>
                    {{admin.username}}
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>


    <!-- </div> -->

    </div>
</main>
{% endif %} {% endblock %}