{% extends 'index.html' %} {% block content %} {% if org_profile.org_logo %}
<a href="{% url 'home' %}">
    <img src="{{org_profile.org_logo.url}}" alt="">
</a>
{% endif %}
<h1>Welcome to {{org.org_name}} user feedback page</h1>
<p>Please Select the Feedback type based on the categories and enter your feedback. The Other fields in the form are optional</p>
<form action="" method="POST">
    {% csrf_token %}
    <label for="">Email</label>
    <input type="text" name="user_email" placeholder="Optional" id="">
    <br>
    <br>
    <label for="">Feedback type</label>
    <select name="feedback_type" id="" required>
        <option value="" disabled selected>Select feedback Type</option>
        <option value="Complaint">Complaint</option>
        <option value="Suggestion">Suggestion</option>
        <option value="Praise">Praise</option>
        <option value="Question">Question</option>
    </select>
    <br>
    <br>
    <label for="">Feedback Field</label>
    <textarea name="user_feedback" id="" placeholder="Message ...."></textarea>
    <br>
    <br>
    <label for="">Rate our Organization</label>
    <select name="user_ratings" id="">
        <option value="" disabled selected>Select a Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <br>

    <input type="submit">
</form>
<hr>
<div class="contact_us">
    <p>For Futher Communication, Contact our Organization through the following channels</p>
    <p>{{org_profile.contact_email}}</p>
    <h3>
        <a href="mailto:{{org_profile.contact_email}}">Email</a>
    </h3>
    <h3>
        <a href="">{{org_profile.org_contact}}</a>
    </h3>
    <h3>
        <a href="{{org_profile.org_facebook}}">Facebook</a>
    </h3>
    <h3>
        <a href="{{org_profile.org_twitter}}">X</a>
    </h3>
    <h3>
        <a href="{{org_profile.org_instagram}}">Facebook</a>
    </h3>
    <h3>
        <a href="{{org_profile.org_website}}">Visit our webpage</a>
    </h3>



</div>
{% endblock %}