{% load static %}

<section class="section-padding">
    <div class="footer_container">
        <div class="row">

            <!-- <div class="col-lg-10 col-12 text-center mx-auto">
                <h2 class="mb-5">Welcome to Kabarak Rotary Club</h2>
            </div> -->

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="{% url 'register_org' %}" class="d-block">
                        <img src="static/icons/register_org1.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text">Register Your <strong>Organization</strong></p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="" class="d-block">
                        <img src="static/icons/contact_us.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text"><strong>Contact Feedlify </strong> Support </p>
                    </a>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="donate.html" class="d-block">
                        <img src="static/icons/receive.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text">Make a <strong>Donation</strong></p>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="donate.html" class="d-block">
                        <img src="static/icons/scholarship.png" class="featured-block-image img-fluid" alt="">

                        <p class="featured-block-text"><strong>Scholarship</strong> Program</p>
                    </a>
                </div>
            </div> -->

        </div>
    </div>
</section>