{% extends 'index.html' %} {% block content %} {% if page == 'appreciation_page' %}
<div class="appreciation_page">
    <h1>Appreciation Page</h1>
    <p>Thank You for giving us your feedback on our services. We hope to make our organization a better place through your feedback.</p>
</div>
{% elif page == 'org_qrcode' %}
<div class="org_qrcode">
    <h2><a href="{{request.META.HTTP_REFERER}}">Back</a></h2>
    <hr>
    <h2>
        <a href="{% url 'download_qrcode' org.id %}">Download</a>
    </h2>

    <h1>{{org.org_name}} QR Code</h1>
    <div style="align-items: center; width: 50%; margin-left:auto; margin-right: auto; ">
        <p>Scan Code to submit Your Feedback</p>

        <img src="{{org.org_qr_code.url}}" alt="Organization QR Code" style="width: 250px; height: auto; " />
    </div>

</div>
{% elif page == 'notifications_settings' %}
<div>
    <h1><a href="{% url 'org_settings' organization.id %}">Back</a></h1>
    <h1>Notifications Settings</h1>
    <div>
        <h2>Notification status is : {{not_org.notification_status}}</h2>
        <h2>Number of notifications : {{not_org.no_of_notifications}}</h2>
    </div>
    <hr>
    <form action="" method="POST">
        <label for="">Notifications</label>
        <select name="" id="">
            <option value="on">On</option>
            <option value="off">Off</option>
        </select>
        <br>
        <label>Number of Notifications</label>
        <br>
        <button>Submit</button>
    </form>
</div>
{% endif %} {% endblock %}